.features {

    padding-top: 115px;
    padding-bottom: 95px;

    &__container {

    }

    &__row {
        @include row-flex();
        @include md(justify-content, center);
    }

    &__item {
        @include col();
        @include size(12);
        @include size-lg(4);
        @include size-md(12);
        @include size-xs(12);
    }
}

.item-features {

    &__body {
        padding-bottom: 30px;
    }

    &__title {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: normal;
        font-size: 38px;
        line-height: 51px;
        color: #111111;
        margin-bottom: 20px;
    }

    &__text {
        padding-left: 40px;
    }
}
