@import '../helpers/variables';

.container {
    @include container();
    @include sm(max-width, rem($b-sm));
    @include md(max-width, rem($b-md));
    @include lg(max-width, rem($b-lg));
    @include xl(max-width, rem($b-xl));
}

::placeholder {
	color: #444444;
}

::selection {
	background-color: $accent;
	color: #000000;
}

input,
textarea {
	outline: none;

	&:focus:required:invalid {
		border-color: red;
	}

	&:required:valid {
		border-color: green;
	}
}

body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	position: relative;
	overflow-x: hidden;

	&._modal-is-open {
		overflow: hidden;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
	margin-bottom: 36px;
	max-width: 100%;

	color: $headercolor;
	font-family: "Playfair Display", sans-serif;
	font-size: rem(100);
	line-height: 110px;

	@media (max-width: 768px) {
		font-size: rem(50);
		line-height: 60px;
	}

}

p{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: $textcolor;
}

ul{
    margin: 0;
    padding: 0;
}

.btn{
	font-size: 16px;
	line-height: 24px;
	color: #967675;
	text-align: center;
	text-decoration: none;

	background: #FFFFFF;
	border: 1px solid #CFADAC;
	box-sizing: border-box;
	border-radius: 6px;

	padding: 18px 47px;
	display: inline-block;
	margin-bottom: 30px;
	
	position: relative;
	cursor: pointer;

	&::after{
		content: '';
		display: block;
		width: 100%;
		height: 30px;		
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		box-shadow: 0px 8px 34px rgba(150, 79, 76, 0.32);
	}

	@media (max-width: 768px) {
		display: block;
	}

	&:hover{
		background: #CFADAC;
		color: #FFFFFF;
	}
}


#background-grid{
	position: fixed;
	top: 0;
	left: 50%;

	transform: translateX(-37.4%);

	z-index: -10000;

	width: 100%;
	height: 100vh;

	@include container();

	display: grid; 
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
	grid-template-rows: 1fr; 
	gap: 1px;
	
	@media (max-width: $b-md) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media (max-width: $b-sm) {
		grid-template-columns: 1fr 1fr;
	}

	span{
		display: block;
		background: #EDEDED;
		width: 1px;
		height: 100%;
	} 
}

.has-decoration{
	display: flex;
	justify-content: flex-start;
	align-items: center;	

	&:before{
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		margin-top: 5px;
		transform: translateX(-18px);
		margin-right: -9px;
		background-image: url('../../img/svg/decoration.svg');
		background-repeat: no-repeat;
	}
}